Repository apiglue/gitlab-ansible-test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_a, trigger_b

.gitlab-ci.yml:

default:
  image:
    name: alpine/ansible
    entrypoint: [""]
  timeout: 15 minutes
  tags:
    - ansible

stages:
  - ansible-check-a
  - ansible-check-b

trigger_a:
  stage: ansible-check-a
  trigger:
    include: a/.gitlab-ci.yml
  rules:
    - changes:
        - roles/a/*

trigger_b:
  stage: ansible-check-b
  trigger:
    include: b/.gitlab-ci.yml
  rules:
    - changes:
        - roles/b/*

ansible-check-a:
  stage: ansible-check-a
  tags:
    - ansible
  script:
    - ansible-playbook --check -i inventory.yml playbook-a.yml
  cache: []

ansible-check-b:
  stage: ansible-check-b
  tags:
    - ansible
  script:
    - ansible-playbook --check -i inventory.yml playbook-b.yml
  cache: []

test
  .gitlab-ci.yml
Due: none

change A
  roles/a/tasks/main.yml
Due: none

tweaks
  .gitlab-ci.yml
  README.md
Due: none

test
  .gitlab-ci.yml
  roles/a/.gitlab-ci.yml
  roles/b/.gitlab-ci.yml
Due: trigger_a, trigger_b

test
  roles/a/tasks/main.yml
Due: none

tet
  .gitlab-ci.yml
Due: none

tst
  roles/a/tasks/main.yml
Due: none

role a
  roles/a/tasks/main.yml
Due: none

fixing
  roles/a/.gitlab-ci.yml
  roles/b/.gitlab-ci.yml
Due: trigger_a, trigger_b

fixing path
  roles/a/.gitlab-ci.yml
  roles/b/.gitlab-ci.yml
Due: trigger_a, trigger_b

test
  roles/a/.gitlab-ci.yml
  roles/b/.gitlab-ci.yml
Due: trigger_a, trigger_b

test
  roles/a/.gitlab-ci.yml
Due: trigger_a

ted
  roles/a/.gitlab-ci.yml
Due: trigger_a

only A
  roles/a/tasks/main.yml
Due: none

only B
  roles/b/tasks/main.yml
Due: none

test
  .gitlab-ci.yml
  ansible.cfg
  roles/a/.gitlab-ci.yml
  roles/b/.gitlab-ci.yml
Due: trigger_a, trigger_b

just b
  roles/b/tasks/main.yml
Due: none

Delete ansible.cfg
  ansible.cfg
Due: none

Update README.md
  README.md
Due: none
